<div style="display: flex; gap: 10px">
  <div>
    <label>
      <input type="checkbox" [(ngModel)]="showFavorites" /> Mostrar apenas
      favoritos
    </label>
  </div>

  <div>
    <label>
      <input type="checkbox" [(ngModel)]="showActive" /> Mostrar apenas ativos
    </label>
  </div>
</div>

<table class="table table-bordered mt-3">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Telefone</th>
      <th scope="col">Email</th>
      <th scope="col">Favorito</th>
      <th scope="col">Ativo</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let contact of contacts
          | favoriteFilter : showFavorites
          | activeFilter : showActive;
        let i = index
      "
    >
      <td>{{ contact.name }}</td>
      <td>{{ contact.phone | brPhone }}</td>
      <td>{{ contact.email }}</td>
      <td>{{ contact.favorite ? "⭐" : "☆" }}</td>
      <td>{{ contact.active ? "Ativo" : "Inativo" }}</td>
      <td>
        <button class="btn btn-warning" (click)="editContact(i)">
          <i class="bi bi-pencil-square"></i> Editar
        </button>
        <button class="btn btn-danger" (click)="deleteContact(i)">
          <i class="bi bi-trash"></i> Deletar
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="editMode">
  <h3>Editar Contato</h3>
  <form [formGroup]="formEdit" (ngSubmit)="editContactSubmit()">
    <div class="form-group">
      <label for="name">Nome</label>
      <input type="text" class="form-control" formControlName="name" />
    </div>
    <div class="form-group">
      <label for="phone">Telefone</label>
      <input type="text" class="form-control" formControlName="phone" />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" formControlName="email" />
    </div>
    <div class="form-group">
      <label>
        Favorito
        <input type="checkbox" formControlName="favorite" />
      </label>
    </div>
    <div class="form-group">
      <label>
        Ativo
        <input type="checkbox" formControlName="active" />
      </label>
    </div>
    <button type="submit" class="btn btn-warning">
      <i class="bi bi-pencil-square"></i> Editar
    </button>
  </form>
</div>
