.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/telefone.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  align-items: center;
  padding: 20px;
  z-index: -1;
}
h3 {
  color: #007bff;
}
.cards-container {
  position: relative;
  width: 400px;
  min-height: 300px;
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.card.active {
  opacity: 1;
  visibility: visible;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

a {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

a:hover {
  color: #0056b3;
}
@media (max-width: 768px) {
  .background-container {
    background-attachment: scroll;
    padding: 10px;
  }

  .card {
    width: 90%;
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%;
    padding: 10px;
  }
}
