<h3>Sistema de Agendamento Telefônico</h3>
<div class="background-container">
  <!-- Container dos Cards -->
  <div class="cards-container">
    <!-- Card de Login -->
    <div class="card" [ngClass]="{ active: !isRegistering }">
      <h2>Login</h2>
      <form (ngSubmit)="onLogin()">
        <input
          [(ngModel)]="username"
          name="username"
          placeholder="Username"
          required
        />
        <input
          [(ngModel)]="password"
          name="password"
          type="password"
          placeholder="Password"
          required
        />
        <button type="submit">Login</button>
      </form>

      <p *ngIf="loginFailed" style="color: red">Credenciais inválidas!</p>

      <p>
        Não tem uma conta?
        <a href="javascript:void(0)" (click)="toggleRegister()">Cadastre-se</a>
      </p>
    </div>

    <!-- Card de Registro -->
    <div class="card" [ngClass]="{ active: isRegistering }">
      <h2>Cadastro</h2>
      <form (ngSubmit)="onRegister()">
        <input
          [(ngModel)]="newUsername"
          name="newUsername"
          placeholder="Novo Username"
          required
        />
        <input
          [(ngModel)]="newPassword"
          name="newPassword"
          type="password"
          placeholder="Nova Senha"
          required
        />
        <button type="submit">Cadastrar</button>
      </form>

      <p *ngIf="registrationFailed" style="color: red">
        Nome de usuário já existe!
      </p>

      <p>
        Já tem uma conta?
        <a href="javascript:void(0)" (click)="toggleRegister()">Login</a>
      </p>
    </div>
  </div>
</div>
