/* You can add global styles to this file, and also import other style files */
/* src/styles.css */

.navbar-toggler {
  border: none;
  outline: none;
}

.navbar-nav {
  width: 100%;
  text-align: center;
}

.nav-item {
  padding: 10px;
}

@media (max-width: 768px) {
  .navbar-collapse {
    text-align: center;
  }
}
/* Estilo para a página de login */
body.login-page {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("./assets/telefone.jpg");
  background-size: cover;
  background-position: center;
}

/* Estilo para as outras páginas */
body:not(.login-page) {
  background-image: none;
}
