/* You can add global styles to this file, and also import other style files */
/* src/styles.css */

.navbar-toggler {
  border: none; /* Remove a borda do botão */
  outline: none;
}

.navbar-nav {
  width: 100%;
  text-align: center;
}

.nav-item {
  padding: 10px;
}

@media (max-width: 768px) {
  .navbar-collapse {
    text-align: center;
  }
}
