<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="bi bi-list"></i>
      <img [src]="imageUrl" alt="Imagem Menu" />
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <!-- Dropdown de Contatos -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" routerLink="/registration-contact"
                  >Cadastrar Contato</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="/consultation-contact"
                  >Consultar Contatos</a
                >
              </li>
            </ul>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
